* {
  padding: 0;
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

/*-------- commons --------*/
.btn-violet {
  width: 134px;
  height: 44px;
  color: white;
  background-color: #8b48bf;
  border-radius: 50px;
  border: none;
}

/*-------- header --------*/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 56px;
}

.navbar,
.buttom-navbar {
  display: none;
}

/*-------- banner-section --------*/

.banner-section {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
}

#banner-img {
  width: 400px;
  max-width: 100%;
  height: 341.53px;
}

.banner-content {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner-content h1 {
  color: #232c50;
  font-size: 50px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: -0.035em;
}

.banner-content p {
  color: #000000;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
}

/*-------- comparison-section--------*/

.comparison-section {
  color: #ffffff;
  background-color: #3cddf3;
  height: auto;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comparison-section h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}

.comparison-section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

/*-------- benefits-section --------*/

.benefits-container {
  padding: 3rem 0 1rem 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.benefit-article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.benefit-title {
  width: 100%;
  height: 43px;
  display: flex;
  gap: 20px;
  background: #8b48bf4d;
  border-radius: 30px 0 0 30px;
}

.benefit-title h3 {
  color: #323851;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.015em;
  text-align: left;
}

.benefit-title span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
}

.benefit-btn {
  width: 69px;
  height: 43px;
  border-radius: 30px;
  background: #8b48bf;
  color: #ffffff;
}

.benefit-content {
  padding: 10px;
}

/*-------- best-athlete-section --------*/

.best-athlete-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.best-athlete-section h2 {
  font-size: 3rem;
  padding: 40px 20px 80px 20px;
  text-align: center;
}

.athlete-cards {
  display: flex;
  flex-direction: column;
  color: #b4b4b9;
  margin: 0px 20px;
}

.athlete-cards .athlete-card:not(:first-child) {
  display: none;
}

.athlete-card {
  position: relative;
  height: auto;
  text-align: center;
  background-color: rgb(249, 249, 249);
  padding: 20px 20px 0px 20px;
}

.image-container,
.athlete-card-content {
  position: relative;
  top: -65px;
  padding: 10px 20px;
}

.athlete-card-content h4 {
  color: black;
}

.best-athlete-section a button {
  margin: 40px 0;
}

/*-------- team-section --------*/

.team-section {
  background-color: #3cddf3;
  height: auto;
  text-align: center;
}

.team-section div {
  font-size: 3rem;
  font-weight: 500;
  color: white;
  padding: 50px 50px 0 50px;
}

.team-section a button {
  width: 134px;
  height: 44px;
  color: white;
  background-color: #232851;
  border-radius: 22px;
  border: none;
  margin: 30px;
}

@media (min-width: 780px) {
  /* -------- header --------*/
  .navbar,
  .buttom-navbar {
    display: block;
  }

  .navbar ul {
    list-style-type: none;
    display: flex;
  }

  .navbar ul li {
    padding-left: 10px;
    padding-right: 10px;
    font-size: inherit;
    font-family: inherit;
  }

  .navbar ul li a {
    color: #242e52;
  }

  .navbar ul li a:link,
  .navbar ul li a:visited {
    text-decoration: none;
  }

  .hamburguer-navbar {
    display: none;
  }

  /*-------- banner-section --------*/
  .banner-section {
    max-width: 1090px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
  }

  #banner-img {
    max-width: 50%;
    width: 540px;
    height: 461.069px;
  }

  .banner-content {
    max-width: 50%;
  }

  /*-------- comparison-section --------*/

  .comparison-section {
    background-color: #8b48bf;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 100px;
  }

  .comparison-section h2 {
    width: 50%;
    max-width: 500px;
  }

  .comparison-section p {
    width: 50%;
    max-width: 450px;
  }

  /*-------- benefits-section --------*/

  .benefits-section {
    display: flex;
    justify-content: center;
    background: #fafafa;
    padding: 4rem 0rem;
  }

  .benefits-container {
    padding: 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .benefit-article {
    width: 553px;
    gap: 10px;
  }

  .benefit-title {
    background: none;
  }

  .benefit-content {
    padding: 0px 0px 0px 89px;
  }

  /*-------- best-athlete-section --------*/

  .best-athlete-section {
    margin-top: 50px;
  }

  .athlete-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .athlete-card {
    width: 445px;
    max-width: 30%;
  }

  .athlete-cards .athlete-card:not(:first-child) {
    display: block;
  }

  /*-------- team-section --------*/

  .team-section {
    background-color: #8b48bf;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
  }

  .team-section div {
    padding: 0;
  }

  .team-section a button {
    color: #8b48bf;
    background-color: white;
    margin: 0;
  }
}
